{{#extend "layout"}}

  {{#content "main"}}
    <p>
      <strong>{{t "Hi there,"}}</strong>
    </p>
    <p>
      {{t "Thank you for signing up. If you have any questions please don't hesitate to contact our support team at"}}
      <a href="mailto:hello@examle.com">hello@example.com</a>.</p>
    <p>
      <strong>{{t "Best regards,"}}</strong><br>
      Company Name
    </p>
  {{/content}}

{{/extend}}
