{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "retainLines": true
}
