{
  "plugins": [
    "syntax-async-functions",
    "syntax-trailing-function-commas",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
