# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#   $ gcloud meta list-files-for-upload
#
/.git
/.vscode
/backups
/migrations
/node_modules
/scripts
/seeds
/src
/ssl
/.editorconfig
/.env.local
/.env.test
/.eslintrc.js
/.gcloudignore
/.gitattributes
/.gitignore
/.huskyrc.js
/.prettierignore
/.prettierrc.js
/babel.config.js
/backup.sql
/backup.*.sql
/CONTRIBUTING.md
/docker-*
/knexfile.ts
/LICENSE
/nodemon.json
/schema.graphql
/tsconfig.json
.DS_Store
README.md
