# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Compiled output
/*/.next/
/dist/
/web/out/

# Dependencies
node_modules/

# Yarn Zero-installs
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
#!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Logs
yarn-debug.log*
yarn-error.log

# Testing
/coverage

# Configuration overrides
.env.override
.env.*.override
docker-stack.override.yml

# Editors and IDEs
.vscode/*
!.vscode/snippets
!.vscode/db.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Cache
/.cache
.eslintcache

# macOS
.DS_Store
