# Compiled output
/api/schema.graphql
/db/types.ts
/web/queries
/.cache/
/*/dist/

# Yarn
.yarn/cache
.yarn/plugins/*/**
.yarn/releases
.yarn/sdks
.yarn/unplugged
.yarn/*.*
.pnp.*

# Misc
.husky
*.hbs
/tsconfig.json
