{
  "extends": ["airbnb-base"],
  "plugins": ["flowtype"],
  "rules": {
    "arrow-parens": "off",
    "newline-per-chained-call": "off",
    "no-console": "off",
    "prettier/prettier": "off"
  }
}
